body{
    padding: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    position: relative;
    
}
.grid{
    display: grid;
    width: fit-content;
    height: auto;
    grid-area: auto;
    background-image: url("./images/queso-taco.png");
}
nav{
    position: fixed;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    width: 1000px;
    height: 50px;
    display: grid;
    grid-area: 1 / 1 / 2 / 5;
}
footer{
    position: fixed;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    display:grid;
    width: 1000px;
    height: 100px;
    grid-template: repeat(10, 1fr) / repeat(0, 1fr);
}